body {
	background: rgb(255, 255, 255);
}

img {
	max-height: 100%;
	max-width: 100%;
}

h1#headerNames {
	margin-top: 0;
	color: #EA5355;
	font-family: Georgia, serif;
	font-size: 70px;
	text-align: center;
	cursor: pointer;
}

.button {
	width: 150px;
	margin: auto;
	padding: 20px;
	background: #34A6CA;
	border: 3px solid #296499;
	border-radius: 10px;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	cursor: pointer;
}

#stopButton {
	background: #e8d300;
	display: none;
}

#timerWrapper {
	margin: 50px 0;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 50px;
	text-align: center;
	opacity: 0;
	transition: opacity 1s;
}

#timerWrapper.visible {
	opacity: 1;
}

#ImageContainer {
	text-align: center;
	padding-top: 70px;
}

img {
	width: 400px;
}